<h3>Questions</h3>


<hr />
<ul style="list-style: none; padding: 0px;">
 
   
    <li>
      <% @question.each do |question| %>
            <tr>
             <div class="col s12 m4 l2 center"> 
                <p class="z-depth-2">                            </p>
                <%= simple_format question.description %> 
             </div>
            </tr>
          <% end %>
         <p> 
          
         </p>
         <hr />
    </li>
    