<div>
  <div class="row">
    
    
    <div class="column">
        
      <table class="striped"> 
        <thead>
          <h3>Users</h3>
        <thead>
        
          <% @users.each do |user| %>
          <tbody>
            <tr>
              <td>
                <%= render user %>
              </td>
            </tr>
        
          <% end %>
       </tbody>
      </table>
    </div>
  </div>
</div>

