
.body-home {
  background: url(/images/question-and-answer.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
h1{
  color:#18ffff;
  text-align:center;
  font-faimly:icon;
}
.buttoms-login{
  background-color: #00bfa5 !important;
  border-radius: 5px !important;
  font-size: 24px;
  font-weight: 500;
  
}
.text-session{
  font-size: 30px !important;
  color:#424242!important;
}
.text-sigin{
  font-size: 24px;
  color:#00c853 !important; 
}
nav{
  color:transparent;
}
h4{
  color:#00b0ff;
  font-weight: bold;
}
hr{
  color:aqua;
  width: 100px;
  left;
}
.text-option{
  color:#000000 !important;
  font-size: 20px !important;
}
.nav-color{
  background-color:#ffffff !important;
}
.options-style{

  width: 200px;
}



