<div class="row center"> 
	<h4> Inicia Session</h4>
    <li class="btn-large waves-effect waves-light buttoms-login">
    	<%= link_to 'Sign in',  new_user_session_path %></li>
    <h4> Eres nuevo? Registrate aqui</h4>	
    <li class="btn-large waves-effect waves-light buttoms-login text-sigin">
        <%= link_to 'Sign up', new_user_registration_path%></li>
</div>        